body {
    font-family:'Courier New', Courier, monospace;
    text-align: center;
}

#board {
    background-color: skyblue;
    background-image: url("../Destination/Images/flappybirdbg.png");
    margin: 0 auto; /* Centers the canvas horizontally */
    display: block; /* Ensures canvas is block-level element for margin to work */
}
.popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    font-size: 18px;
}

.popup button {
    background-color: #4caf50;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
}

.popup button:hover {
    background-color: #45a049;
}
