body {
    margin: 0;
    overflow: hidden;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: transparent;
    z-index: -1;
    transition: background-color 1s ease-in-out;
}

.white-overlay {
    background-color: rgb(199, 191, 191);
}
